services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    environment:
      TZ: America/New_York
      # Use uma senha gerada e guardada no Bitwarden; NUNCA commitar senha real
      WEBPASSWORD: changeme123
    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d
    ports:
      - "80:80/tcp"
      - "53:53/tcp"
      - "53:53/udp"
    restart: unless-stopped
